NODE_ENV=Development

CLOUDINARY__CLOUDNAME=sign-up-cloudinary-
CLOUDINARY__APIKEY=sign-up-cloudinary-
CLOUDINARY__APISECRET=sign-up-cloudinary-
CLOUDINARY__FOLDER=sign-up-cloudinary-

ConnectionStrings__MyConnectString=your-connection-string

JwtSettings__SecretKey=your-secret-key

EmailSettings__SenderEmail=your-email
EmailSettings__AppPassword=your-app-pass

WebAPI__BaseUrl=https://localhost:
WebClientUrl=http://localhost: